In [26]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [27]:
df = pd.read_csv("dataset_berat_balita.csv")
df

        Umur (bulan)  Berat Badan (kg) Jenis Kelamin           Status Gizi
0                  0                 1     perempuan  severely underweight
1                  0                 6     perempuan            overweight
2                  0                 1     perempuan  severely underweight
3                  0                 6     perempuan            overweight
4                  0                 4     perempuan                normal
...              ...               ...           ...                   ...
122117            60                18     laki-laki                normal
122118            60                21     laki-laki                normal
122119            60                25     laki-laki            overweight
122120            60                19     laki-laki                normal
122121            60                24     laki-laki            overweight

[122122 rows x 4 columns]

In [28]:
df['Jenis Kelamin'] = df['Jenis Kelamin'].map({'laki-laki': 0, 'perempuan': 1})

df['Status Gizi'] = df['Status Gizi'].map({'severely underweight': 0, 'underweight': 1, 'normal': 2, 'overweight': 3})
df

        Umur (bulan)  Berat Badan (kg)  Jenis Kelamin  Status Gizi
0                  0                 1              1            0
1                  0                 6              1            3
2                  0                 1              1            0
3                  0                 6              1            3
4                  0                 4              1            2
...              ...               ...            ...          ...
122117            60                18              0            2
122118            60                21              0            2
122119            60                25              0            3
122120            60                19              0            2
122121            60                24              0            3

[122122 rows x 4 columns]

In [29]:
X = df.iloc[:, 1:6]
X = df.drop('Status Gizi', axis=1)
y = df['Status Gizi']

In [34]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X

        Umur (bulan)  Berat Badan (kg)  Jenis Kelamin
0                  0                 1              1
1                  0                 6              1
2                  0                 1              1
3                  0                 6              1
4                  0                 4              1
...              ...               ...            ...
122117            60                18              0
122118            60                21              0
122119            60                25              0
122120            60                19              0
122121            60                24              0

[122122 rows x 3 columns]

In [31]:
#Training
from sklearn.metrics import classification_report, confusion_matrix

svm_model = SVC(kernel='rbf', C=1, decision_function_shape='ovo')
svm_model.fit(X_train, y_train)

y_pred = svm_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)

print(classification_report(y_test.values.reshape(-1, 1), y_pred))
print(f"Akurasi model: {accuracy * 100:.2f}%")

              precision    recall  f1-score   support

           0       0.96      0.97      0.96      6402
           1       0.77      0.72      0.74      1700
           2       0.92      0.94      0.93      6928
           3       0.98      0.97      0.97      9395

    accuracy                           0.94     24425
   macro avg       0.91      0.90      0.90     24425
weighted avg       0.94      0.94      0.94     24425

Akurasi model: 94.41%

In [43]:
import joblib

model_path = 'model_deteksi_status_berat_badan.pkl'

joblib.dump(svm_model, model_path)

['model_deteksi_status_berat_badan.pkl']

In [42]:
test_model = joblib.load(model_path)

test_model_gizi = pd.DataFrame({'Umur (bulan)': [15], 'Berat Badan (kg)': [10],'Jenis Kelamin': [1] })

pred = svm_model.predict(test_model_gizi)
print("Predicted Score = {}".format(np.array(pred)))

Predicted Score = [2]